:global(.flexed-input) {
  flex: 4;
}

:global(.flexed-label) {
  flex: 1;
  justify-content: center;
}

:global(.flexed-label.compact) {
  flex: 0 1 100pt;
}

:global(.flexed-comment) {
  flex: 2;
  margin-left: 1em;
  font-style: italic;
  overflow-wrap: break-word;
  word-break: break-all;
}
