.overlay-component {
  position: relative;
}

.overlay-area {
  position: absolute;
  display: none;
  /* display: block; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 8;
  /* cursor: pointer; */
}

.overlay-area:global(.active-overlay) {
  display: block;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  padding: 10pt;
  font-size: 40pt;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
