
<div class="flex-horizontal tabbar">

  <div id="tabbar-overview" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.overview" class="vcenter tabbar-link"}}
      Overview
    {{/link-to}}
  </div>

  <div id="tabbar-vocabulary" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.vocabulary" class="vcenter tabbar-link"}}
      Vocabulary
    {{/link-to}}
  </div>

  <div id="tabbar-snippets" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.snippets" class="vcenter tabbar-link"}}
      Snippets
    {{/link-to}}
  </div>

  <div id="tabbar-templates" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.templates" class="vcenter tabbar-link"}}
      Templates
    {{/link-to}}
  </div>

  <div id="tabbar-queries" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.queries" class="vcenter tabbar-link"}}
      Queries
    {{/link-to}}
  </div>

  {{ui/menu-bar/file-handling
    accept="application/trig; charset=utf-8"
    contentType="application/trig; charset=utf-8"
    fileName="definitions"
    fileType=".trig"
    rdf4jRepo="editor_data"
  }}


</div>

{{yield}}
