
<div class="flex-horizontal tabbar">

  <div id="tabbar-overview" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.overview" class="vcenter tabbar-link"}}
      Overview
    {{/link-to}}
  </div>

  <div id="tabbar-vocabulary" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.vocabulary" class="vcenter tabbar-link"}}
      Vocabulary
    {{/link-to}}
  </div>

  <div id="tabbar-snippets" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.snippets" class="vcenter tabbar-link"}}
      Snippets
    {{/link-to}}
  </div>

  <div id="tabbar-templates" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.templates" class="vcenter tabbar-link"}}
      Templates
    {{/link-to}}
  </div>

  <div id="tabbar-queries" class="vcenter btn tabbar-button">
    {{#link-to "editor.definitions.queries" class="vcenter tabbar-link"}}
      Queries
    {{/link-to}}
  </div>

  {{#ui/menu-bar/dropdown
    label="File"
    class="tab-bar"
  }}
  {{ui/menu-bar/input-button
      label="Load Repo"
      class="loadRepo"
      accept=".trig"
      compAction=(action "loadRepo")
      icon="cloud upload"
    }}
  <div class="exportRepo">
    <i class="download icon"></i>
    <a class="menu menu-button primary button" {{action "exportRepo"}}>Export Repo</a>
  </div>
  {{/ui/menu-bar/dropdown}}


</div>

{{yield}}
