<div class="flex-container">
  <button class="ui yellow icon button" {{action tableActions.editEntry row bubbles=false}}>
    <i class="edit icon"></i>
  </button>

  <button class="ui negative icon button" {{action tableActions.deleteEntry row bubbles=false}}>
    <i class="trash icon"></i>
  </button>
</div>
