<div class="flex-container vertical">
  {{definitions/template-sparql-importer editorEmpty=editorEmpty}}

  <div class="vertical-divider"></div>

  <div class="flex-fill-item full-width">
    {{editor/sparql-editor class="full-size" fontSize="13pt"}}
  </div>
</div>
