
:global(.split) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

:global(.gutter) {
  background: none;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 0.5;
}

  /*:global(.gutter) {
  box-shadow: inset 4px 2px 5px #d1d1e0;
}*/

:global(#split-left) + :global(.gutter) {
  margin-top: 20px;
}

:global(#split-middle) + :global(.gutter) {
  margin-top: 20px;
}

:global(.gutter.gutter-horizontal) {
    cursor: col-resize;
    background-image: url(/assets/images/ui/grips-vertical.png);
}

:global(.gutter.gutter-vertical) {
    cursor: row-resize;
    background-image: url(/assets/images/ui/grips-horizontal.png);
}

:global(.split.split-horizontal),
:global(.gutter.gutter-horizontal) {
    height: 100%;
    float: left;
}
