/* Navbar style */
@value color-primary, color-primary-1, color-primary-2, color-primary-3 from 'ajan-editor/styles/_globals/colors';
@value color-nav: color-primary;
@value color-nav-hover: color-primary-2;
@value color-nav-active: color-primary-1;
@value color-nav-active-tab: color-primary-3;

.navbar.container {
  background: color-nav;
  margin: 0;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  font-family: monospace;
}

.navbar.container::-webkit-scrollbar-track {
  background: #FFFFFF;
}

:global(.navbar.button) {
  padding: 0;
  font-size: 22pt;
  flex-basis: 140pt;
  /* flex-grow: 1; */
}

:global(.img.navbar.button) {
  flex-basis: auto;
}

:global(.img.navbar) {
  display: inline-flex;
  height: 100%;
  margin: 0;
  padding-top: 20px;
  padding-right: 10px;
}

  :global(.img.navbar):hover {
    background: linear-gradient(to bottom right, #FFF176, #8EC8B1, #5CB697);
  }

  :global(.img .navbar.link):hover {
    background: none !important;
  }

.img-ajan {
  height: 150px;
  width: auto;
  margin-left: 20px;
  margin-bottom: -45px;
}

.list {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

.list-element {
  float: left;
  font-size: 150%;
  height: 100%;
  display: table;
}

.list-right {
  display: inline-flex;
  float: right;
  height: 100%;
}

.list-middle {
  display: inline-flex;
  height: 100%;
}



:global(.main-container) {
  overflow: auto;
  height: 100%;
  font-family: monospace;
}

/* Link related */
:global(.navbar.link) {
  /* display: table-cell; */
  /* vertical-align: middle; */
}

a:global(.navbar.link) {
  color: #000;
  text-align: center;
}

a:global(.navbar.link.active) {
  color: #FFF;
}

/*a:global(.navbar.link.active):before {
  content: '';
  position: relative;
  top: -55px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: 15px solid #FFF;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}*/

a:global(.navbar.link):hover:not(:global(.active)) {
  background: color-nav-hover;
}

a:global(.navbar.link):global(.active) {
  background: linear-gradient(to bottom right, #FFF176, #8EC8B1, #5CB697, #F5A399, #EA5B97, #1B3284, #1E1B55);
  animation: gradient 20s;
  animation-fill-mode: forwards;
  background-size: 300% 300%;
  top: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.list-link {
  display: table-cell;
  /* vertical-align: middle; */
}

a.list-link {
  color: white;
  text-align: center;
}

a.list-link:hover:not(:global(.active)) {
  background: color-nav-hover;
}

  a.list-link:global(.active) {
    background: color-nav-active;
  }
