@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6 from 'ajan-editor/styles/_globals/colors';
@value color-title-bg from 'ajan-editor/styles/components/_behavior-graph/side-panels';

:global(.collapse-trigger):hover {
  cursor: -webkit-pointer;
  cursor: pointer;
}

:global(.collapse-trigger:before) {
  content: "";
  top: 1em;
  left: 0.5em;
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

:global(.collapse-trigger.active:before) {
  border-top: 13px solid black;
  border-bottom: 3px solid transparent;
}

:global(.collapse-trigger:not(.active):before) {
  border-left: 13px solid black;
  border-right: 7px solid transparent;
}

:global(.item-container) {
  overflow-y: hidden;
  position: relative;
  margin-left: 5pt;
  /* transition: max-height 0.3s ease-out; */
  /* transition: height 0.3s ease-out; */
}
