:global(.node-draggable):hover {
  cursor: -webkit-grab;
  cursor: grab;
  background-color: #d1d1e0;
}


:global(.node-icon-container) {
  height: 2em;
  width: 2em;
  max-width: 2em;
  max-height: 2em;
  min-width: 2em;
  min-height: 2em;
  margin: 0 0.5em;
  padding-bottom: 2px;
}

:global(.node-icon) {
  max-width: 100%;
  max-height: 100%;
}

:global(.node-name) {
  white-space: nowrap;
  overflow: hidden;
}
