<div class="flex-container centered">
  <div local-class="title variable">{{title}}</div>
  <div class="" local-class="title fixed">
    &nbsp;- Template
  </div>
</div>

<div class="template-view modal-body-component flex-container">
  <div>{{description}}</div>
</div>
