.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap value as needed */
  width: fit-content;
  margin: 16px;
}

.row-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.carla-image {
  width: 50%; /* Bild wird halb so groß dargestellt */
  height: auto;
  display: block; /* Verhindert, dass das Bild wie Inline-Element zusätzlichen Platz benötigt */
  margin: 0 auto; /* Zentriert das Bild horizontal */
}
