.waypoint-selection-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
  gap: 20px;
  padding: 10px;
}

.waypoint-panel {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.waypoint-panel:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.waypoint-panel-triangle::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%; /* Bestimmt die Breite des Bandes */
  height: 80%; /* Bestimmt die Höhe des Bandes */
  background-color: var(--triangle-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
}

.waypoint-panel-triangle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 40%;
  background-color: white;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.waypoint-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.waypoint-image {
  width: 70px !important;
  height: 70px;
}

.waypoint-image i {
  font-size: 24px;
}

.waypoint-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

.waypoint-header {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

.drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: grab;
}

.follow-drag-icon {
  /* Initiale versteckte Position */
  pointer-events: none;
  z-index: 1000;
}

.center-modal {
  left: auto;
}

.waypoint-selection-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
  gap: 20px;
  padding: 10px;
}

.description {
  margin-bottom: 6px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

.color-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
