.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  margin: 16px;
}

.row-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.carla-image {
  width: 25%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.button-panel {
  margin-left: 16px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.2s ease !important;
}

.button-panel:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3) !important;
}

.center-modal {
  left: auto;
}

.stepper {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.step {
  text-align: center;
  position: relative;
  flex: 1;
}

.step.completed .icon,
.step.completed .loader {
  color: #4caf50;
}

.step.loading .loader {
  display: inline-block;
}

.step .icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.step span {
  display: block;
  font-size: 14px;
  margin-top: 4px;
}
