.entity-selection-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
  gap: 20px;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.entity-panel {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  position: relative;
}

.entity-panel:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.entity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entity-image {
  width: 70px !important;
  height: 70px;
}

.entity-image i {
  font-size: 24px;
}

.entity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

.entity-header {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

.drag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: grab;
}

.follow-drag-icon {
  /* Initiale versteckte Position */
  pointer-events: none;
  z-index: 1000;
}
