.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap value as needed */
  width: fit-content;
  margin: 16px;
}

.center-modal {
  left: auto;
}

.icon-bright {
  color: #f5f5f5;
}
