:global(#viewport) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

:global(#room) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

:global(#gridContainer) {
  display: grid;
  grid-template-columns: repeat(12, 50px);
  grid-template-rows: repeat(12, 50px);
  gap: 1px;
}
:global(.grid-cell) {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  position: relative;
  background-color: lightgray;
  outline: 1px solid transparent;
}

:global(.grid-cell:hover) {
  outline: 3px solid rgba(0, 0, 0, 0.1);
}

:global(.cell-hover-allowed) {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 2px dashed green;
}

:global(.cell-hover-not-allowed) {
  background-color: rgba(255, 0, 0, 0.3);
  outline: 2px dashed red;
}
