:root {
  --color-primary: #d1d6d8;
  --color-primary-1: #1e1b55;
  --color-primary-2: #8ec8b1;
  --color-primary-3: #ea5b97;
  --color-primary-4: #4ef390;
  --color-primary-5: #f77284;
  --color-primary-6: #f5f5f7;
  --color-primary-7: #ffa6cb;
  --color-primary-8: #1e1b25;
}
