
:global(.file-upload)::-webkit-file-upload-button {
  visibility: hidden;
}

:global(.file-upload)::before {
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}

:global(.loadBT .file-upload)::before {
  content: "Add BT";
}

:global(.loadRepo .file-upload)::before {
  content: "Load Repo";
}
