.accordion {
  width: 100%;
  margin: 2em 0;
}

.title {
  margin: 0em;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  -webkit-transition: background 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease;
}

.title.not1 {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.container {
  padding-top: 20em;
}

.new-triplestore {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.blocks, :global(.blocks) {
  display: inline-block;
  margin: 0em 1em 0em 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:global(.btn) {
  float: right;
  right: 0;
  margin: 0;
}

:global(.input.label) {
  width: 20%;
  left: 0;
}

:global(.input.uri) {
  width: 60%;
  left: 20%;
}

:global(.triplestore-listing:hover) {
  background-color: #d1d1e0;
}

:global(.triplestore-listing) {
  height: 3em;
  position: relative;
}

:global(.clickable:hover) {
  cursor: pointer;
}

input {
  width: 100%;
  height: 98%;
  line-height: normal;
}

:global(.cf:before),
:global(.cf:after) {
    content: " "; /* 1 */
    display: table; /* 2 */
}

:global(.cf:after) {
    clear: both;
}

:global(.cf) {
    zoom: 1;
}
/*http://nicolasgallagher.com/micro-clearfix-hack/*/
