.accordion {
  width: 100%;
  margin: 2em 0;
}

.title {
  margin: 0em;
  padding: 0.75em 1em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  -webkit-transition: background 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease;
}

.title.not1 {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.container {
  padding-top: 20em;
}

.new-triplestore {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.blocks, :global(.blocks) {
  display: inline-block;
  margin: 0em 1em 0em 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:global(.btn) {
  float: right;
  right: 0;
  margin: 0;
}

:global(.btn .button) {
  vertical-align: middle;
}

:global(.modal-checkbox) {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

:global(.modal-input),
:global(.modal-checkbox) {
  margin-right: 20px;
}

:global(.modal-models-header) {
  height: 50px;
  padding-left: 10px !important;
  padding-top: 7px !important;
  padding-bottom: 10px !important;
  font-size: 18px !important;
  background: #A3A4DC;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:global(.modal-models-header span) {
  font-size: 24px !important;
  margin-top: 10px !important;
}

:global(.modal-models-header i) {
  padding-left: 10px;
  cursor: default;
}

:global(.modal-models-header):hover {
  cursor: pointer;
}

:global(.modal-models-overview) {
  margin-top: 20px;
  display: none;
  height: 0;
  padding-left: 20px;
}

:global(.modal-models-overview.active) {
  height: auto;
  display: block;
}

:global(.add-optional) {
  float: right;
  height: 50px;
  width: 50px;
  margin-top: -7px !important;
  border-radius: 0em !important;
}

:global(.add-optional i)::before {
  margin-left: -7px !important;
}

:global(.modal-models-optional) {
  width: 100%;
  height: 50px;
}

:global(.modal-models-optional p) {
  float: left;
  margin-right: 20px;
}

:global(.modal-models-optional p:nth-child(1) input) {
  width: 150px;
}

:global(.modal-models-optional p:nth-child(2) input) {
  width: 260px;
}

:global(.remove-optional) {
  width: 24px;
  height: 24px;
  padding: 0px !important;
  margin-top: 7.5px !important;
  margin-left: 20px !important;
}

:global(.remove-optional i)::before {
}

:global(.input.label) {
  width: 20%;
  left: 0;
}

:global(.input.uri) {
  width: 50%;
  left: 20%;
}

:global(.checkbox.secured) {
  width: 10%;
  height: 28px;
  left: 70%;
  padding-left: 20px;
}

:global(.checkbox.secured input) {
  top: -27px;
  position: relative;
  margin-left: 10px;
}


:global(.triplestore-listing:hover) {
  background-color: #d1d1e0;
}

:global(.triplestore-listing) {
  height: 3em;
  position: relative;
}

:global(.clickable:hover) {
  cursor: pointer;
}

input {
  width: 100%;
  height: 98%;
  line-height: normal;
}

:global(.cf:before),
:global(.cf:after) {
    content: " "; /* 1 */
    display: table; /* 2 */
}

:global(.cf:after) {
    clear: both;
}

:global(.cf) {
    zoom: 1;
}
/*http://nicolasgallagher.com/micro-clearfix-hack/*/

:global(.triplestore-import input[type=file])::-webkit-file-upload-button,
:global(.triplestore-import input[type=file]) {
  content: '';
  display: inline-block;
  background: #767676;
  padding: 5px 8px;
  outline: none;
  width: 100% !important;
  height: 100% !important;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 0pt;
  border: 0px solid;
  background-image: url("images/upload.PNG") !important;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

:global(.triplestore-import input.upload.icon) {
  padding: 0px !important;
}

:global(.triplestore-import) {
  padding: 0px !important;
  width: 2.8em !important;
  height: 2.55em !important;
}

