:global(#domain) {
  overflow-x: hidden;
}

:global(#domain-view) {
  width: 100%;
  margin: 0 50%;
  padding-top: 40px;
  padding-bottom: 40px;
}

:global(#domain-view-wrapper) {
  width: 80%;
  margin-left: -40%;
  padding: 20px 50px;
  box-shadow: 0px 5px 10px #d1d1e0;
}

:global(#domain-content) {
}

:global(#domain-content a) {
  color: #383a94;
  font-weight: bold;
}

:global(#ace-editor) {
  min-height: calc(100vh - 319px);
}

:global(#workbench-link) {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

:global(#workbench-image) {
  width: 100%;
  float: left;
  margin: 0 10px;
}

:global(#workbench-image img) {
  max-width: 100%;
  padding: 40px 0 10px 0;
}

:global(#domain-view .entry-title) {
  float: left;
  width: 20%;
}

:global(#rdf-error) {
  position: relative;
  margin-top: 15px;
  float: right;
  width: 80%;
  color: #f00;
  font-size: 1em;
}

:global(#rdf-error .rdf-error-message) {
  position: absolute;
  width: 100%;
  padding-right: 25px;
  float: right;
  margin-top: 2px;
  display: block;
  text-align: right;
}

:global(#rdf-error i.textarea-validation-error-hint) {
  z-index: 100;
  float: right;
  height: 25px;
  margin-right: -7px;
  width: 25px;
  margin-left: 20px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

:global(.hidden) {
  visibility: hidden;
}

:global(.errorMarker) {
  position: absolute;
  background: rgba(200,100,100,0.5);
  z-index: 20
}
/* clearfix */
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
} .clearfix::after {
  clear: both;
} .clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}
