@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6, color-headlines-bg from 'ajan-editor/styles/_globals/colors';

@value color-interaction-bg: color-primary-1;
@value color-item-header-bg: color-headlines-bg;
@value color-hover: color-primary-2;
@value color-interaction-font: white;

:global(#domain) {
  position: relative;
  overflow: hidden;
  height: 100%;
}

:global(#domain h1) {
  padding-left: 15px;
  height: 45px;
  font-size: 35px;
  margin-bottom: 10px;
  width: 100% !important;
  background: color-headlines-bg;
  color: #FFF;
}

:global(#domain-view) {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 30px;
  position: absolute;
  overflow: auto;
  height: 100%;
}

:global(#domain-view-wrapper) {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 0px 5px 10px #d1d1e0;
}

:global(#domain-content) {
  box-shadow: inset 0px 0px 5px 0px #d1d1e0;
  padding: 7px;
}

:global(#domain-content a) {
  color: #383a94;
  font-weight: bold;
}

:global(#ace-editor) {
  min-height: calc(100vh - 385px);
}

:global(#workbench-link) {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

:global(#workbench-image) {
  width: 100%;
  float: left;
  margin: 0 10px;
}

:global(#workbench-image img) {
  max-width: 100%;
  padding: 40px 0 10px 0;
}

:global(#domain-searchbox) {
  width: 100%;
}

:global(#searchbox-wrapper) {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

:global(#domain-searchbox button) {
  width: 30px;
  height: 30px;
  padding: 0px;
}

:global(#domain-searchbox button i) {
}

:global(#domain-searchbox input) {
  width: 200px;
  height: 30px;
  border: solid 1px #D1D6D8;
  border-radius: 0.28571429rem;
}

:global(#domain-view .entry-title) {
  float: left;
  width: 20%;
}

:global(.error-field) {
  width: 100%;
  min-height: 35px;
  position: relative;
}

:global(#rdf-error) {
  position: relative;
  float: right;
  width: 80%;
  color: #f00;
  font-size: 1em;
  padding-bottom: 10px;
}

:global(#rdf-error .rdf-error-message) {
  position: absolute;
  width: 100%;
  padding-right: 25px;
  float: right;
  margin-top: 2px;
  display: block;
  text-align: right;
}

:global(#rdf-error i.textarea-validation-error-hint) {
  z-index: 100;
  float: right;
  height: 25px;
  margin-right: -7px;
  width: 25px;
  margin-left: 20px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

:global(.hidden) {
  visibility: hidden;
}

:global(.errorMarker) {
  position: absolute;
  background: rgba(200,100,100,0.5);
  z-index: 20
}

/* clearfix */
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;
} .clearfix::after {
  clear: both;
} .clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}
