/* #agent-item */
@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6, color-primary-7, color-headlines-bg from 'ajan-editor/styles/_globals/colors';
@value color-intro-bg: color-primary-3;
@value color-title-bg: color-primary-4;
@value color-subtitle-bg: color-primary-5;
@value color-item-header-bg: color-primary-7;
@value color-h-bg: color-primary;
@value color-h-font: #ffffff;
@value color-odd-bg: color-primary-6;
@value color-font: #000000;

:global(#agent-instance) {
  width: 80%;
  padding: 0 0 40px 40px;
  height: calc(100vh - 130px);
  float: right;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0px;
  padding-bottom: 100px !important;
}

.agent-instance-header {
  font-size: 40px;
  padding-left: 10px;
  font-weight: light;
  width: 80%;
  height: 45px;
  position: relative;
  color: color-h-font;
  background: linear-gradient(to right, #1E1B55, #1E1B55, #1E1B55, #1B3284, #EA5B97, #F5A399);
  font-family: monospace, Arial,sans-serif;
}

.agent-instance-header-text {
  float: left;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 45px;
}

  .agent-instance-header-text i {
    padding: 0px;
    margin-right: 10px;
    font-size: 30px;
  }

.agent-instance-header button {
  font-size: 20px;
  height: 45px;
  width: 45px;
  display: block;
  bottom: 0px;
  float: right;
  border-radius: 0em !important;
}

.agent-instance-reminder {
  font-size: 25px;
  width: 100%;
  height: 50px;
  position: relative;
}

.agent-instance-reminder-text {
  float: left;
  height: 50px;
  padding-right: 30px;
  margin-top: 40px;
  margin-left: 40px;
}

:global(#agent-instance-show) {
  width: 100%;
  padding-bottom: 100px;
}

.instance-row {
  float: left;
  width: 100%;
  min-height: 30px;
  padding: 0 0 5px 0;
}

.instance-seperation {
  width: 100%;
  position: relative;
}

  .instance-seperation i {
    float: right;
    display: block;
    background: #FFF;
    padding: 0 10px;
    margin-top: -33px;
    color: #DDD;
  }

.instance-row-title,
.instance-seperation,
.instance-row-content,
.instance-row-collection,
.instance-row-content-edit,
.instance-row-value,
.instance-row-buttons {
  float: left;
}

.instance-row-behavior {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.instance-row-title {
  min-width: 15%;
  height: 100%;
  font-weight: bold;
}

.instance-row-content,
.instance-row-content-edit,
.instance-row-collection {
  vertical-align: text-top;
  margin: 0px;
  border: 0px;
  padding: 0px;
  width: 85%;
  display: flex;
}

ul.instance-row-content {
  display: block;
}

.instance-row-value {
  padding-right: 10px;
}

.instance-row-copy,
.instance-row-download {
  width: 25px;
  height: 25px;
  padding: 0px !important;
}

.instance-row-download i {
  padding-top: 5px !important;
}

.error-message {
    color: red;
}


:global(.agentInstance-action) {
  padding-bottom: 50px;
}

:global(.contentType-wrapper) {
  margin-bottom: 5px;
}

:global(.contentType-wrapper i.dropdown) {

}

:global(#report-service-wrapper) {
  position: relative;
}

:global(#report-service-wrapper button) {
  position: relative;
  float: right;
  top: -30px;
  right: -21px;
  width: 25px;
  height: 25px;
  padding: 0px !important;
}

:global(#report-service-message) {
  overflow: scroll;
  height: 200px;
  width: 80%;
  padding: 20px;
  margin: 30px 0 0 0;
  color: #ffffff;
  position: relative;
  box-shadow: inset 0px 0px 5px #cccccc;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: rgb(24, 25, 64);
}

.instance-report-header button {
  top: -2px;
  left: 10px;
  position: relative;
}

:global(p.report-time) {
  margin-bottom: 0px;
}

:global(i.agent-report) {
  padding-left: 20px;
  margin-top: -5px;
}

:global(i.succeeded-report) {
  color: greenyellow;
}

:global(i.failed-report) {
  color: tomato;
  font-weight: bold;
}

:global(i.cancelled-report) {
  color: goldenrod;
}

:global(i.bt-report) {
  color: lavender;
}

:global(i.normal-report) {
  color: cyan;
}

:global(.agent-debug-statement) {
  margin-top: 15px;
  float: left;
  width: 100%;
  background-color: gainsboro;
}

:global(.agent-debug-statement):last-child {
  margin-bottom: 15px;
}

:global(.agent-debug-subject) {
  width: 100%;
  float: left;
  background-color: gainsboro;
  padding: 5px;
  padding-left: 10px;
  background-color: darkslateblue;
  color: white;
}

:global(.agent-debug-pred-obj) {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

:global(.agent-debug-predicate),
:global(.agent-debug-object) {
  float: left;
}

:global(.agent-debug-predicate) {
  margin-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

:global(.agent-debug-object) {
  font-style: italic;
}

:global(.modal-prefix) {
  padding: 0px;
  margin-bottom: 2px;
  font-size: small;
  color: darkslateblue;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}

