
<div class="vcenter btn editor action-bar button" local-class="button" {{action "click"}}>
  <div class="flex-container centered flex-horzontal spread">
    {{#if icon}}
      <div>
        <i class="{{icon}} icon large"></i>
      </div>
    {{/if}}
    <div>
      {{text}}
    </div>
  </div>
</div>
