<div class="flex-container" local-class="container">
  <div class="title" local-class="title">{{display-helpers/default-value "Unsaved query" "Current query:" query}} &nbsp;</div>
  <div class="title" local-class="content">{{query}}</div>
</div>
