@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6 from 'ajan-editor/styles/_globals/colors';
@value color-select from 'ajan-editor/styles/_globals/custom-select';

@value color-intro-bg: color-primary-3;
@value color-title-bg: color-primary-4;
@value color-subtitle-bg: color-primary-5;
@value select-node-bg: color-primary-7;
@value color-h-bg: color-primary;
@value color-h-font: #ffffff;
@value color-odd-bg: color-primary-6;
@value color-font: #000000;

.viewport {
  position: relative;
  width: 700px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #000;
  cursor: grab;
}

.room {
  position: absolute;
  left: 0;
  top: 0;
  width: 600px;
  height: 100%;
  background: #ccc;
}

.behaviors-body {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.intro {
  padding: 10px 15px;
  background: color-intro-bg;
  color: color-h-font;
  font-size: 22px;
}
canvas {
  display: block;
}

.sticky-save {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.loading-indicator {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1001;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.toast {
  visibility: hidden;
  max-width: 50%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

.show-toast {
  visibility: visible;
  opacity: 1;
}

#split-container {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#split-left,
#split-middle,
#split-right {
  overflow: auto;
  padding: 10px;
  height: 100%;
}

#split-left {
  background-color: #f9f9f9;
  flex: 1;
}

#split-middle {
  background-color: #fff;
  flex-grow: 2; /* Dieser Pane bekommt mehr Platz */
}

#split-right {
  background-color: #f9f9f9;
  flex: 1;
}

#carjan-item {
  height: 100%;
}
