:global(#demo-service) {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

:global(#demo-service-wrapper) {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 0px 5px 10px #d1d1e0;
}

:global(#demo-service-wrapper h1) {
  padding-left: 15px;
  height: 45px;
  font-size: 35px;
  margin-bottom: 20px;
  width: 100% !important;
  background: linear-gradient(to right, #1E1B55, #1E1B55, #1E1B55, #1B3284, #EA5B97, #F5A399);
  color: #FFF;
}

:global(#demo-service-content) {
  padding-top: 0px;
  position: relative;
  width: 100%;
}

:global(#demo-playground) {
  padding-top: 0px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

:global(#demo-arm-open) {
  box-shadow:
      -0em -1em 0 0 black,
      -1em -1em 0 0 black,
      1em -1em 0 0 black,
      -3em -1em 0 0 black,
      -2em -1em 0 0 black,
      2em -1em 0 0 black,
      3em -1em 0 0 black,
      -4em -1em 0 0 black,
      4em -1em 0 0 black,
      -5em 0em 0 0 black,
      -4em 0em 0 0 black,
      4em 0em 0 0 black,
      5em 0em 0 0 black,
      -5em 1em 0 0 black,
      5em 1em 0 0 black,
      6em 1em 0 0 black,
      -6em 1em 0 0 black,
      6em 2em 0 0 black,
      -6em 2em 0 0 black;
  background: white;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 0 50% 20px 50%;
}

:global(#demo-blocks) {
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
  margin-bottom: 1em;
  width: 36em;
}

:global(.demo-block) {
  background: red;
  width: 7em;
  height: 4em;
  overflow: hidden;
  margin: 0 1em;
  float: left;
}

:global(#demo-block-purple) {
  background: purple;
}

:global(#demo-block-orange) {
  background: orange;
}

:global(#demo-block-blue) {
  background: blue;
}

:global(#demo-block-green) {
  background: green;
}

:global(#demo-table) {
  background: black;
  height: 1em;
  width: 36em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.connect-button,
.disconnect-button {
  height: 45px;
  float: right;
  margin-right: 0px !important;
  position: relative;
  border-radius: 0px !important;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  *zoom: 1; /* Für den IE6 und IE7 */
}
