{{#ui/menu-bar}}

<div class="store-url-cont vcenter" local-class="rightmost">
  <div>
    <div local-class="store">Triplestore:</div>
    <div class="store-url">---</div>
  </div>
</div>

{{yield}}
{{/ui/menu-bar}}

{{ui/message/save-confirmation}}
{{ui/message/error-message}}
