{{#ui/menu-bar}}

{{ui/menu-bar/file-handling
  accept="application/trig; charset=utf-8"
  contentType="application/trig; charset=utf-8"
  fileName="domain"
  fileType=".trig"
  rdf4jRepo="domain"
}}

<div class="store-url-cont vcenter" local-class="rightmost">
  <div>
    <div local-class="store">Triplestore:</div>
    <div class="store-url">---</div>
  </div>
</div>

{{yield}}
{{/ui/menu-bar}}

{{ui/message/save-confirmation}}
{{ui/message/error-message}}
