<div id="domain">

  <div id="domain-action-bar">
    {{domain/action-bar}}
  </div>
  <div id="domain-view">
    <div id="domain-view-wrapper">
      <header class="entry-header">
        <h1 class="entry-title" style="padding-bottom: 20px;">Domain</h1>
      </header>

      <div id="domain-content">

        <p>Until we have implemented a UI for editing domain knowledge, we ask that you use the <a target="_blank" href="https://rdf4j.org/documentation/tools/server-workbench/" rel="noreferrer nofollow">RDF4J <i class="icon external alternate no-side-margins"></i></a> Workbench:</p>
        <a id="workbench-link" target="_blank" href={{workbench}} rel="noreferrer nofollow"> {{workbench}} <i class="icon external alternate no-side-margins"></i></a>

        <figure id="workbench-image">
          <img class="wp-image-2921 size-medium" src="/images/DomainWorkbench.PNG" alt="">
        </figure>

        <div local-class="clearfix"></div>
      </div>
        
    </div>
  </div>
</div>

