<p class="node-adder-class title-behaviors">
  Map Selection
</p>
{{#ui-accordion exclusive=false}}
  <div class="active title composite-selection">
    <i class="dropdown icon"></i><b><font size="3">Map selection</font></b>
  </div>
  <div>
    <ul>
      <li id="map01" {{action "selectMap" "map01"}}>
        Map 01
      </li>
      <li id="map02" {{action "selectMap" "map02"}}>
        Map 02
      </li>
      <li id="map03" {{action "selectMap" "map03"}}>
        Map 03
      </li>
      <li id="map04" {{action "selectMap" "map04"}}>
        Map 04
      </li>
    </ul>
  </div>

{{/ui-accordion}}