{{#ui-accordion exclusive=false}}
  <div class="active title composite-selection">
    <i class="dropdown icon" />
    <i class="play circle outline icon" /><b><font size="3">CARLA</font></b>
  </div>
  <div local-class="button-container">

    <button {{action "startFlask"}} class="ui secondary button sticky-save">
      <i class="cogs icon"></i>
      Start Flask
    </button>

    <button {{action "loadScenario"}} class="ui primary button sticky-save">
      <i class="play icon"></i>
      Preview in CARLA
    </button>

    <button {{action "resetCarla"}} class="ui primary button sticky-save">
      <i class="undo icon"></i>
      Reset CARLA
    </button>

  </div>
{{/ui-accordion}}