<button {{action "loadScenario"}} class="ui secondary button sticky-save">
  <i class="eye icon"></i>
  Preview in CARLA
</button>

<button {{action "resetCarla"}} class="ui primary button sticky-save">
  <i class="undo icon"></i>
  Reset CARLA
</button>