<div>
  <input
    type="file"
    accept=".ttl"
    id="fileInput"
    style="display:none"
    onchange={{action "handleFile"}}
  />
  <div class="button-container">
    <button
      class="ui primary button"
      style="margin-bottom: 32px"
      {{action "uploadFile"}}
    >
      Upload Scenario
    </button>
    <!-- make some space -->
    <button class="ui primary button" {{action "saveAndReset"}}>
      Save
    </button>
  </div>

  <!-- Toast-Nachricht -->
  <div id="toast" class="toast" style="display: none;">
    <i class="spinner loading icon"></i>
    Speichern...
  </div>

</div>