<p class="node-adder-class title-behaviors">
  <i class="info circle icon"></i>
  <b>Information</b>
</p>
<p class="active title composite-selection">
  <i class="book icon" style="margin-left: 4px;"></i>
  Find out more about CARJAN in the resources below.
</p>

{{! <!-- Wiki Link Segment -->
<div class="ui segment" style="margin-bottom: 16px;">
  <div class="ui grid">
    <div class="eight wide column">
      <h3 class="ui header">
        <i class="youtube icon"></i>
        <div class="content">
          CARJAN Wiki
          <div class="sub header">Documentation and Guides</div>
        </div>
      </h3>
    </div>
    <div class="eight wide column right aligned">

    </div>
  </div>
</div> }}

<!-- Placeholder for future resources -->
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="github icon"></i>
    Visit the CARJAN Wiki for more information
  </div>
  <button
    class="ui button secondary"
    onclick="window.open('https://github.com/leonardneis/CARJAN/wiki', '_blank')"
  >
    <i class="book icon"></i>
    View Documentation
  </button>
</div>