{{#ui-accordion exclusive=false}}
  <!--div class="active title" style="background-color:#ECECFF"-->
  <div class="active title composite-selection">
    <i class="dropdown icon"></i><b><font size="3">Entities</font></b>
  </div>
  <div id="Composite" class="active content"></div>
{{/ui-accordion}}