{{#ui-accordion exclusive=false}}
  <!--div class="active title" style="background-color:#ECECFF"-->
  <div class="active title composite-selection">
    <i class="dropdown icon"></i><b><font size="3">Entities</font></b>
  </div>
  <div>
    <ul>
      <li draggable="true" id="pedestrian" ondragstart={{action "onDragStart"}}>
        Pedestrian
      </li>
      <li draggable="true" id="vehicle" ondragstart={{action "onDragStart"}}>
        Vehicle
      </li>
      <li
        draggable="true"
        id="autonomous-vehicle"
        ondragstart={{action "onDragStart"}}
      >
        Autonomous Vehicle
      </li>
      <li
        draggable="true"
        id="autonomous-vehicle"
        ondragstart={{action "onDragStart"}}
      >
        Obstacle
      </li>
    </ul>
  </div>
{{/ui-accordion}}

<div id="car-icon">
  <i class="icon car"></i>
</div>

<div id="pedestrian-icon">
  <i class="icon user"></i>
</div>

<div id="autonomous-icon">
  <i class="icon taxi"></i>
</div>

<div id="obstacle-icon">
  <i class="icon tree"></i>
</div>

<div id="map-icon">
  <i class="icon map marker alternate"></i>
</div>