{{#ui-accordion exclusive=false}}
  <!--div class="active title" style="background-color:#ECECFF"-->
  <div class="active title composite-selection">
    <i class="dropdown icon"></i><b><font size="3">Entities</font></b>
  </div>
  <div>
    <ul>
      <li draggable="true" id="pedestrian" ondragstart={{action "onDragStart"}}>
        <i id="pedestrian-icon" class="icon user" />
        Pedestrian
      </li>
      <li draggable="true" id="vehicle" ondragstart={{action "onDragStart"}}>
        <i id="car-icon" class="icon car" />
        Vehicle
      </li>
      <li draggable="true" id="autonomous" ondragstart={{action "onDragStart"}}>
        <i id="autonomous-icon" class="icon taxi" />
        Autonomous Vehicle
      </li>
      <li draggable="true" id="obstacle" ondragstart={{action "onDragStart"}}>
        <i id="obstacle-icon" class="icon tree" />
        Obstacle
      </li>
    </ul>
  </div>
{{/ui-accordion}}