<div>
  <input
    type="file"
    accept=".ttl"
    id="fileInput"
    style="display:none"
    onchange={{action "handleFile"}}
  />
  <div class="button-container">
    <button
      class="ui primary button"
      style="margin-bottom: 32px"
      {{action "uploadFile"}}
    >
      <i class="upload icon"></i>
      Upload Scenario
    </button>

    <button
      class="ui primary button sticky-save"
      {{action "triggerSaveScenario"}}
    >
      <i class="save icon" />
      Save Scenario & Reset
    </button>

    <button class="ui primary button sticky-save" {{action "downloadTurtle"}}>
      <i class="download icon" />
      Download
    </button>

  </div>

  <!-- Toast-Nachricht -->
  <div id="toast" class="toast" style="display: none;">
    <i class="spinner loading icon"></i>
    Speichern...
  </div>

</div>