<p class="node-adder-class title-behaviors" local-class="bt-dropdown">Map
  Selection</p>
{{#ui-dropdown
  class="fluid search selection bt-selection"
  allowAdditions=true
  fullTextSearch=true
  sortSelected=true
  selected=selectedValueName
  onChange=(action (mut selectedValue))
}}
  <div class="default text">was ein schönes frontend</div>
  <i class="dropdown icon"></i>
  <div class="menu" id="bt-select">
    {{#each availableBTs as |value|}}
      <div data-value={{value.uri}} class="item">
        {{value.name}}
      </div>
    {{/each}}
  </div>
{{/ui-dropdown}}