<div class="flex-container centered">
  <div class="grow1">
    AJAN Paper
  </div>
  <div class="rightmost">
    <a href='/assets/downloads/ajan-paper.pdf' download> <i class="download icon"></i></a>
  </div>
  <div class="rightmost">
    <a href='/assets/downloads/ajan-paper.pdf' target="_blank"> <i class="external square alternate icon"></i></a>
  </div>
</div>

<div class="flex-container centered">
  <div class="grow1">
    AJAN Documentation
  </div>
  <div class="rightmost">
    <a href='/assets/downloads/ajan-docu.pdf' download> <i class="download icon"></i></a>
  </div>
  <div class="rightmost">
    <a href='/assets/downloads/ajan-docu.pdf' target="_blank"> <i class="external square alternate icon"></i></a>
  </div>
</div>

{{yield}}
