 {{#ui-accordion exclusive=false}}
  <div class="title behavior-tree-selection">
    <i class="dropdown icon"></i> <b><font size=3>Behavior Trees Nodes</font></b>
  </div>
  <div id="BehaviorTree" class="content">
  </div>
{{/ui-accordion}}
