{{#ui-accordion exclusive=false}}
<div class="active title" style="background-color: #c8c9ea">
    <i class="dropdown icon"></i> <b><font size=3>Decorators</font></b>
  </div>
  <div id="Decorator" class="active content">
  </div>
{{/ui-accordion}}
