<div id="Leaf-Nodes">
  <div class="Leaf-Nodes-Single-Category">
    {{#ui-accordion exclusive=false}}
    <div class="active title leaf-selection">
      <i class="dropdown icon"></i> <b><font class="Leaf-Nodes-Single-Category-Title" size=3>Default Nodes</font></b>
    </div>
    <div id="Leaf" class="active content"></div>
    {{/ui-accordion}}
  </div>
</div>

