<!--
<p>This is the <b>Behaviors</b> page!</p>

<p>This page is under construction!</p>
-->

{{behaviors/behavior-graph}}
{{universal-modal class="modal-parent"}}
{{modals/query-insertion class="modal-parent"}}

{{outlet}}
