{{#if malformedQuery}}
<div local-class="block false">
  <i class="exclamation circle icon"></i> Malformed query
</div>
{{/if}}

{{#unless data._quads.length}}
<div local-class="empty">
  No results found.
</div>
{{/unless}}

<div id="rdf-graph-view"></div>