<div class="flex-container rdf-interaction container">
  <div class="rdf-interaction label">Results: </div>

  <div class="large ui four buttons rdf-interaction field">
    <button class="rdf-interaction ui inverted violet button none" onclick={{action (mut mode) "none"}}>None</button>
    <button class="rdf-interaction ui inverted violet button all active" onclick={{action (mut mode) "all"}}>All</button>
    <button class="rdf-interaction ui inverted violet button where" onclick={{action (mut mode) "where"}}>WHERE Pattern</button>
    <button class="rdf-interaction ui inverted violet button query" onclick={{action (mut mode) "query"}}>Query</button>
  </div>

</div>
