<div class="wrapper" local-class="title">
  <div class="leftmost">
    {{#if isAccordion}}
      <div>
        <i class="dropdown icon"></i>
      </div>
    {{/if}}
    {{title}}
  </div>

  {{yield}}
</div>
