@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6 from 'ajan-editor/styles/_globals/colors';
@value color-select from 'ajan-editor/styles/_globals/custom-select';

@value color-title-bg: color-primary-4;
@value color-subtitle-bg: color-primary-5;
@value color-h-bg: color-primary;
@value color-h-font: #ffffff;
@value color-odd-bg: color-primary-6;
@value color-font: #000000;


.behaviors-body {
  height: 100%;
  overflow: auto;
  position: relative;
}

.cy {
  width: 100%;
  height: 100%;
  overflow: none;
  float: left;
}

.side-menu {
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.manipulation {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.manipulation div {
  white-space: nowrap;
}

.button {
  width: 100%;
}

div.button-group {
  margin-top: auto;
  width: 100%;
  white-space: normal;
}

.node-container {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.node-container :global(div.content) {
  padding: 0 !important;
}

/* ToDo: same class used in different files, combine */
.intro {
  padding: 1em 0.5em;
  background-color: color-h-bg;
  color: color-h-font;
}

.intro h3 {
  font-weight: bold;
}

.bt-container {
  /* padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid lightgrey; */
  background-color: color-select;
}

.bt-select {
  width: 100%;
}

.bt-dropdown {
  margin-bottom: 0;
}

/*******************/
/*     Unused      */
/*******************/

/* .text-json {
  width: 100%;
  height: 100%;
  resize: none;
}

.modal {
  height: 90vh;
  overflow-y: auto;
}

.text-box{
  height: 84%
}

.modal-close-button{
  float: right;
  cursor: pointer;
} */
