@value color-primary, color-primary-1, color-primary-2, color-primary-3, color-primary-4, color-primary-5, color-primary-6 from 'ajan-editor/styles/_globals/colors';
@value color-select from 'ajan-editor/styles/_globals/custom-select';

@value color-intro-bg: color-primary-3;
@value color-title-bg: color-primary-4;
@value color-subtitle-bg: color-primary-5;
@value color-h-bg: color-primary;
@value color-h-font: #ffffff;
@value color-odd-bg: color-primary-6;
@value color-font: #000000;


.behaviors-body {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

.cy {
  width: 100%;
  height: 100%;
  overflow: none;
  float: left;
}

:global(#split-left) {
  margin-top: 20px;
  box-shadow: 4px -3px 10px #d1d1e0;
  padding-bottom: 20px;
}

:global(#split-right) {
  margin-top: 20px;
  box-shadow: -4px -3px 10px #d1d1e0;
  padding-bottom: 20px;
}

:global(#split-right .flex-container.vertical)::-webkit-scrollbar {
  display: none;
}

.side-menu {
  width: 100%;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.manipulation {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.manipulation div {
  white-space: nowrap;
}

.button {
  width: 100%;
}

div.button-group {
  margin-top: auto;
  width: 100%;
  white-space: normal;
}

.node-container {
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

  .node-container::-webkit-scrollbar {
    display: none;
  }

  .node-container:hover {
    overflow-y: auto;
  }

.node-container :global(div.content) {
  padding: 0 !important;
}

  .node-container h4 {
    height: 2.5em;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    background: color-title-bg;
    color: color-h-font;
    font-family: "Segoe UI", monospace, Arial,sans-serif;
    font-size: 16px;
    padding: 10px 15px;
  }

:global(.title.composite-selection),
:global(.title.decorator-selection),
:global(.title.leaf-selection),
:global(.title.behavior-tree-selection) {
  background: color-h-bg;
}

:global(.ui.accordion .title.composite-selection),
:global(.ui.accordion .title.decorator-selection),
:global(.ui.accordion .title.leaf-selection),
:global(.ui.accordion .title.behavior-tree-selection) {
  font-family: "Segoe UI", monospace, Arial,sans-serif;
  font-size: 16px;
  padding: 5px 10px;
}
/* ToDo: same class used in different files, combine */
.intro {
  padding: 10px 15px;
  background: color-intro-bg;
  color: color-h-font;
  font-size: 22px;
}

.bt-container {
  /* padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid lightgrey; */
  background-color: color-select;
}

:global(.ui.selection.dropdown.bt-selection),
:global(.ui.selection.dropdown.bt-selection.active.visible) {
  background: #EA5B97;
  border-radius: 0px;
  margin-top: -1px;
  font-size: 18px;
}

:global(.ui.selection.dropdown.bt-selection .text),
:global(.ui.selection.dropdown.bt-selection.active.visible .text),
:global(.ui.selection.dropdown.bt-selection .dropdown),
:global(.ui.selection.dropdown.bt-selection.active.visible .dropdown) {
  color: #FFF;
}

.bt-select {
  width: 100%;
}

.bt-dropdown {
  margin-bottom: 0;
}

/*******************/
/*     Unused      */
/*******************/

/* .text-json {
  width: 100%;
  height: 100%;
  resize: none;
}

.modal {
  height: 90vh;
  overflow-y: auto;
}

.text-box{
  height: 84%
}

.modal-close-button{
  float: right;
  cursor: pointer;
} */
