@value color-title-bg from 'ajan-editor/styles/components/_behavior-graph/side-panels';

.title {
  background-color: color-title-bg;
  padding-left: 5pt;
  color: #FFF;
  border-top: 3px solid lightgrey;
  font-family: "Segoe UI", monospace, Arial,sans-serif;
  font-size: 16px;
}
