{{#if load}}
  {{ui/menu-bar/input-button
      label="Load File"
      class="loadPropertyFile"
      accept="."
      compAction=(action "loadFile")
      icon="upload"
    }}
{{/if}}
{{#ui/tool-tip tooltip=tooltip}}
  <div class="ui form full-width">
    {{textarea
      type='text'
      class=fieldClass
      id=inputID
      placeholder=placeholder
      value=(mut value)
      keyUp=(action 'adjustHeight')
    }}
  </div>
{{/ui/tool-tip}}
