{{#if load}}
  {{ui/menu-bar/input-button
      label="Load File"
      class="loadPropertyFile"
      accept="."
      compAction=(action "loadFile")
      icon="upload"
    }}
{{/if}}
{{#ui/tool-tip tooltip=tooltip}}
  <div class="ui form full-width">
    {{#if this.validation}}
    <div class="textarea-validation-error">
      <i class="textarea-validation-error-hint"></i>
      <div class="textarea-validation-error-message">
        {{this.validation}}
      </div>
    </div>
    {{/if}}
    {{textarea
      type='text'
      class=fieldClass
      id=inputID
      placeholder=placeholder
      value=(mut value)
      keyUp=(action 'adjustHeight')
    }}
  </div>
{{/ui/tool-tip}}
