{{#ui/tool-tip class="full-width" tooltip=tooltip}}
  <div class="flex-container full-width" local-class="container">
    <div local-class="title">{{title}}: </div>
    {{yield}}
  </div>
{{/ui/tool-tip}}
