<div local-class="top"> </div>
<div local-class="center">
	{{#ui-popup
		content=note
		delay=popupDelay
		class="fit-child full-width flex-container justify-inherit"
	}}
	<div local-class="logo">

		<img src="/assets/images/AJAN-Logo-TW.png" local-class="img-ajan" alt="AJAN">
	</div>
	{{/ui-popup}}

	{{select-store transitionToEditorBehavior=(action "transitionToEditorBehavior")}}

</div>
<div local-class="background"> </div>
{{universal-modal class="modal-parent"}}
{{outlet}}
